<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title></title>
    </head>
    <body>
        <div id="root">
            <header>
                <nav class="container-fluid">
                    <div class="navlogo">
                        <img v-bind:src="logo" alt="edu prime logo">
                    </div>
                    <div class="navsection">
                        <div class="menuelement" v-for="item in navbarMenu">
                            <a class="text-capitalize text-right" href="#">{{ item }}</a>

                        </div>
                    </div>
                    <button class="btn btn-default text-uppercase text-center" type="button" name="button">view courses</button>
                </nav>

            </header>
            <main class="container">
                <section class="jumbotron">
                    <h1 class="text-center mt-3">Key to your success</h1>
                    <p class="text-center mt-4">EduPrime is the most versatile WordPress theme for educational purposes,<br> showcasing universities,courses, secondary schools etc</p>
                    <div class="jumbo_btn mt-4">
                        <button class="btn btn-default text-uppercase text-center" type="button" name="button"> <i class="fas fa-search"></i>search courses</button>
                        <button class="btn btn-default text-uppercase text-center" type="button" name="button"> <i class="fas fa-user-plus"></i> apply for university</button>
                    </div>
                </section>
                <section class="courses">
                    <div class="courses_left">
                        <img src="graphic/Books-icon.png" alt="">
                        <h2 class="mt-4">Thousand of courses for any type of student</h2>
                        <h3 class="mt-4">At EduPrime, it doesn’t matter what domain you wish to pursue a career in. Here you can find a course that satisfies your needs within a click away and applies for a course in a matter of minutes. EduPrime is ranked as the most versatile university in the world, thanks to the number of courses it provides.</h3>
                        <button class="mt-4 btn btn-default text-uppercase text-center" type="button" name="button">browse through courses </button>
                    </div>
                    <div class="courses_right">
                        <img src="graphic/Graduation-Illustration.png" alt="graduation">
                    </div>
                </section>
                <section class="faculties">
                    <h2 class="text-center mt-4">Faculties available at EduPrime</h2>
                    <h3 class="text-center mt-3">A single university with a load of courses, tailored to satisfy any student's need.</h3>
                    <div class="carousel mt-4">
                        <div v-for="item in faculties" class="box">
                            <img class="text-center" v-bind:src="item.img" alt="">
                            <p class="text-center text-capitalize mt-3">{{item.name}}</p>
                        </div>
                    </div>
                    <div class="faculties_info mt-4">
                        <div class="faculties_info_left">
                            <img src="graphic/Gavel-Illustration-e1556884768193.png" alt="">
                        </div>
                        <div class="faculties_info_right">
                            <h2 class="text-capitalize">law school</h2>
                            <p class="text-left mt-4">'Learning from world-leading academics and practitioners, you’ll not only receive an outstanding grounding in the theory of law, but you will be able to understand how those principles are applied in practice through a range of student-led activities and competitions.'</p>
                            <button class="mt-4 btn btn-default text-capitalize text-center" type="button" name="button">read more</button>
                        </div>

                    </div>
                </section>
                <section>
                    <h2 class="text-capitalize">latest courses</h2>
                    <div class="latest_courses mt-4">
                        <div v-for="item in latestCourses" class="latest_box text-center text-capitalize">
                            <img v-bind:src="item.icon" alt="">
                            <p class="mt-2">{{ item.name }}</p>
                            <p
                            class="mt-3"><i class="fas fa-user"></i> teacher : <span> {{ item.teacher }}</span></p>
                            <p><i class="far fa-money-bill-alt"></i> price : <span>{{ item.price }}</span></p>
                            <button class="mt-4 btn btn-default text-capitalize text-center" type="button" name="button"><i class="fas fa-eye">  </i> view course</button>
                        </div>
                    </div>
                </section>
                <section class="examination_method">
                    <div class="examination_method_left">
                        <img src="graphic/Exam-icon.png" alt="">
                        <h2 class="mt-4">The most efficient examination method</h2>
                        <h3 class="mt-4">EduPrime has gathered teachers from around the globe to brainstorm in order to facilitate the evaluation of our students. Every teacher from our university has an influence on how students are evaluated at his/her subject.</h3>
                        <button class="mt-4 btn btn-default text-uppercase text-center" type="button" name="button">Discover the Method </button>
                    </div>
                    <div class="examination_method_right">
                        <img v-bind:src="examinationIcon" alt="">
                    </div>
                </section>
                <section class="international_students">
                    <div class="international_students_left">
                        <img v-bind:src="intStudents" alt="">
                    </div>
                    <div class="international_students_right">
                        <img src="graphic/Exam-icon-1.png" alt="">
                        <h2 class="mt-4">Variable fees for international students</h2>
                        <h3 class="mt-4">EduPrime has gathered teachers from around the globe to brainstorm in order to facilitate the evaluation of our students. Every teacher from our university has an influence on how students are evaluated at his/her subject.</h3>
                        <button class="mt-4 btn btn-default text-uppercase text-center" type="button" name="button">List of Fees</button>
                    </div>
                </section>
                <section class="subscribe">
                    <div class="sub_left">
                        <p class="text-capitalize text-right">subscribe now to our newsletter!</p>
                    </div>
                    <div class="sub_right">
                        <input v-model="userMail" v-on:keyup.enter="subscription()" type="text" name="" value="" placeholder="  email address"><i @click="subscription()" class="fab fa-telegram-plane"></i>
                    </div>
                </section>
                <section class="partners text-center">
                    <h2 class="text-capitalize">partners</h2>
                    <h3>Leverage agile frameworks to provide a robust synopsis for high level <br> overviews. Iterative approaches to corporate strategy.</h3>
                    <div class="partners_list mt-4">
                        <img v-for="item in partnersLogos" v-bind:src="item" alt="">
                    </div>
                </section>
                <footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img v-bind:src="logo" alt="">
                                <h4 class="mt-3">EduPrime is the most versatile WordPress theme for educational purposes,<br> showcasing universities,courses, secondary schools etc</h4>
                            </div>
                            <div class="col-2 text-capitalize">
                                <h4>get edu prime</h4>
                                <a v-for="item in getEP" href="#">{{ item }} <br> </a>
                            </div>
                            <div class="col-2 text-capitalize">
                                <h4>networking</h4>
                                <a v-for="item in netWorking" class="mt-1" href="#">{{ item }} <br> </a>
                            </div>
                            <div class="col-4">
                                <input type="text" name="" value="" placeholder="  search"><i class="fas fa-search"></i>
                                <h4 class="mt-4 text-capitalize">search categories</h4>
                            </div>
                        </div>
                    </div>
                </footer>
            </main>
        </div>



        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
