<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title></title>
    </head>
    <body>
        <div id="root">
            <header>
                <nav class="container-fluid">
                    <div class="navlogo">
                        <img src="graphic\theme_eduprime_logo.png" alt="edu prime logo">
                    </div>
                    <div class="navsection">
                        <div class="menuelement" v-for="item in navbarMenu">
                            <span class="text-capitalize text-right">{{ item }}</span>

                        </div>
                    </div>
                    <button class="btn btn-default text-uppercase text-center" type="button" name="button">view courses</button>
                </nav>

            </header>
            <main class="container">
                <section class="jumbotron">
                    <h1 class="text-center mt-3">Key to your success</h1>
                    <p class="text-center mt-4">EduPrime is the most versatile WordPress theme for educational purposes,<br> showcasing universities,courses, secondary schools etc</p>
                    <div class="jumbo_btn mt-4">
                        <button class="btn btn-default text-uppercase text-center" type="button" name="button"> <i class="fas fa-search"></i>search courses</button>
                        <button class="btn btn-default text-uppercase text-center" type="button" name="button"> <i class="fas fa-user-plus"></i> apply for university</button>
                    </div>
                </section>
                <section class="courses">
                    <div class="courses_left">
                        <img src="graphic/Books-icon.png" alt="">
                        <h1 class="mt-2">Thousand of courses for any type of student</h1>
                        <h3 class="mt-4">At EduPrime, it doesn't matter what domain you wish to pursue a carrer in</h3>
                        <button type="button" name="button"></button>
                    </div>
                    <div class="courses_right">
                        <img src="graphic/Graduation-Illustration.png" alt="graduation">
                    </div>
                </section>
                <section class="faculties">
                    <h1 class="text-center mt-4">Faculties available at EduPrime</h1>
                    <h3 class="text-center mt-3">A single university with a load of courses, tailored to satisfy any student's need.</h3>
                    <div class="carousel mt-4">
                        <div v-for="item in faculties" class="box">
                            <img v-bind:src="item.img" alt="">
                            <p class="text-center text-capitalize">{{item.name}}</p>

                        </div>


                    </div>

                </section>

            </main>


        </div>



        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
