* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #e56768;
}

nav {
    display: flex;
    justify-content: space-between;
    height: calc(5%vh);
    align-items: center;
    padding: 20px 70px;
}

nav img {
    width: 100px;
    height: 100%;
}

nav button, nav .btn {
    width: 15%;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background-color: #e9d758;
}

nav button:hover {
    background-color: #FFF;
    color: #e56768;
}

.navlogo {
    width: 50%;
}

.navsection {
    display: flex;
    flex-direction: row;
}

.menuelement span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
}

/****************************************************/

.jumbotron {
    background-image: url("theme_slider2_bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.jumbotron h1 {
    font-weight: bold;
    font-size: 38px;
}

.jumbotron h2 {
    font-size: 12px;
}

.jumbo_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbo_btn .btn {
    border-radius: 30px;
    margin-right: 10px;
    padding: 15px 10px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    background-color: #e9d758;
}

/***************************************************/

.courses {
    display: flex;
}

.courses_left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.courses_left img {
    width: 40px;
    height: 40px;
}

.courses_right {
    width: 50%;
}

.courses_right img {
    width: 100%;
}

/*********************************************************/

.carousel {
    display: flex;
    flex-direction: row;
}

.box {
    width: calc(100% / 7);
    padding: 15px;
}
.box>p {
    font-weight: bold;
    color: #e56768;
    font-size: 14px;
}

.box img {
    width: 100%;
}
