* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #e56768;
}

nav {
    display: flex;
    justify-content: space-between;
    height: calc(5%vh);
    align-items: center;
    padding: 20px 70px;
}

section {
    padding: 45px 0;
}

button {
    color: #FFF;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h2 {
    font-size: 42px;
    color: #223441;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    color: #3d404f;
}

nav img {
    width: 100px;
    height: 100%;
}

nav button, nav .btn {
    width: 15%;
    border-radius: 30px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #e9d758;
}

nav button:hover, .jumbo_btn .btn:hover, .courses_left .btn:hover {
    background-color: #FFF;
    color: #e56768;
}

.navlogo {
    width: 50%;
}

.navsection {
    display: flex;
    flex-direction: row;
}

.menuelement a, a:hover {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
}

.menuelement a:hover {
    color: #e9d758;
}


/****************************************************/

.jumbotron {
    background-image: url("theme_slider2_bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
}

.jumbotron h2 {
    font-size: 16px;
}

.jumbo_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbo_btn .btn {
    border-radius: 30px;
    margin-right: 10px;
    padding: 15px 10px;
    font-size: 10px;
    font-weight: bold;
    background-color: #e9d758;
}

/***************************************************/

.courses {
    display: flex;
}

.courses_left {
    display: flex;
    flex-direction: column;
}

.courses_left img, .examination_method_left img, .international_students_right img {
    width: 40px;
    height: 40px;
}

.courses_left h1, h3 {
    color: #223441;
}

.courses_left h1 {
    font-size: 34px;
    font-weight: bold;
}

.courses_left h3 {
    font-size: 14px;
}

.courses_left>.btn {
    width: 35%;
    border-radius: 30px;
    padding: 15px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    background-color: #e9d758;
}

.faculties_info, .latest_courses, .examination_method, .international_students, .subscribe {
    display: flex;
}

.courses_left, .courses_right, .faculties_info_left, .faculties_info_right, .examination_method_left, .examination_method_right, .international_students_left, .international_students_right, .sub_left, .sub_right {
    width: 50%;
}

.courses_right img, .examination_method_right img, .international_students_left img {
    width: 100%;
    height: 100%;
}

/*********************************************************/

.carousel {
    display: flex;
    flex-direction: row;
}

.box {
    width: calc(100% / 7);
    padding: 25px 25px;
    border-style: 1px solid grey;
}

.box p {
    font-weight: bold;
    color: #e56768;
    font-size: 14px;
}

.box img {
    width: 100%;
}

.box:hover {
    background-color: #e56768;
    text-emphasis-color: #FFF;

}

/**********************************************/

.faculties_info {
    align-items: center;
    color: #223441;
}

.faculties_info h2 {
    font-size: 24px;
    font-weight: bold;
}



.faculties_info_left img {
    float: right;
}

.faculties_info_right .btn, .examination_method_left .btn, .international_students_right .btn {
    font-weight: bold;
    background-color: #e56768;
    border-radius: 30px;
    padding: 15px;
}

.faculties_info_right .btn:hover, .examination_method_left .btn:hover, .international_students_right .btn:hover {

    background-color: #e9d758;

}

/***************************************/
.latest_courses {
    flex-direction: row;
    justify-content: space-around;
}

.latest_box {
    width: calc(100% / 4 - 50px);
}

.latest_courses img {
    width: 70px;
    height: 80px;
}

/*********************************************/

.subscribe {
    background-color: #e56768;
    color: #FFF;
    padding: 20px 90px;
}

.subscribe p {
    font-size: 24px;
    font-weight: bold;
    margin-right: 35px;
}

.sub_right input {
    width: 60%;
    border-radius: 35px;
    height: 40px;    
}

.sub_right i {
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    background-color: #e9d758;

}
